* {
	color: black;
	font-family: "Georgia", sans-serif;
}

h1 {
    color: black;
}

body {
	background-color: #E2EFF5;
    background-size: cover;
}

.container {
    text-align: center;
    max-width: 600px;
    margin: 50px auto;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(50px);
}

.div {
    text-align: center;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(50px);
}